<div class="container">
<h1>Votre panier</h1>

	<div class="row">
		<div class="col-md-8 ">
		
		<table class="table table-striped table-hover table-responsive" style="margin-top:20px">
	    <thead>
	      <tr>
	      	
	        <th class="text-center">Produit</th>
	        <th>Prix</th>
	        <th>Quantit&eacute;</th>
	        <th>Nom</th>
	        <th class="text-center"></th>
	      </tr>
	    </thead>
	    <tbody>
	    
	      <tr x-ng-repeat="item in cart">
	        <td class="text-center"><img class="imageProduct img-thumbnail" data-ng-src="app/images/{{item.item.image}}" style="width:100px;height:120px;"></td>
	        <td style="vertical-align:middle">{{item.item.price | currency : '' : 2}} &euro;</td>
	        <td style="vertical-align:middle">{{item.nb}} </td>
	        <td style="vertical-align:middle">{{item.item.title}}</td>
	        <td class="text-center" style="vertical-align:middle" > <button x-ng-click="deleteOneItem(item.item.id)" class="btn"><i class="fa fa-times fa-2x desactivateRed" aria-hidden="true"  ></i></button></td>
	        
	      </tr>   
	      
	    </tbody>
	  </table>
		
		
		</div>
		
		<div class=" col-md-offset-1 col-md-3">
			<h1>Prix total</h1>
			<h1> {{totalPrice() | currency : '' : 2}} &euro;</h1>
			<button class="btn btn-success" ng-click="create()">Valider le panier</button>
		
	   </div>
	</div>
	
	<div class="row">
		<a class="btn btn-warning" href="#" x-ng-click="deleteCart()">Abandonner</a>
		<a class="btn btn-warning" href="/orders">Continuer mes achats</a>
	</div>

</div>