<h2>Création d'un produit</h2>
<form>
	<label for="name">Nom du produit:</label>
	<input type="text" class="form-control" id="name">
	
	<label for="price">Prix:</label>
	<input type="text" class="form-control" id="price">
	
	<label for="stock">Stock:</label>
	<input type="number" class="form-control" id="stock">
		
	<label for="type">Type</label>
	<select class="form-control" id="type">
		<option>Livre</option>
		<option>CD</option>
		<option>DVD</option>
	</select><br>
		
	<label for="activate">Prix:</label>
	<input type="checkbox" class="form-control" id="activate">
	
	<button class="btn" type="submit">Créer</button>
</form>