<h2>Cr&eacuteation d'un produit</h2>

	
<form name="createProductForm"  novalidate>

<div class="row">

	<div class="col-md-6">
			<label for="name">Titre du produit:</label>
			<input type="text" class="form-control" id="name" x-ng-model="data.product.title" x-ng-bind="data.product.title" required>
			
			<label for="description">Description:</label>
			<textarea  class="form-control" id="description" x-ng-model="data.product.description" x-ng-bind="data.product.description" required></textarea>
			
			<label for="stock">Stock:</label>
			<input type="number" class="form-control" id="stock" x_ng-min="0" x-ng-model="data.product.stock" x-ng-bind="data.product.stock" required>
				
			
			<label for="price">Prix:</label>
			<input type="number" class="form-control" id="price" x_ng-min="0" x-ng-max="1000" step=".01" x-ng-model="data.product.price" x-ng-bind="data.product.price" required>
			
			<label for="type">Type</label>
			<select class="form-control" id="type" x-ng-model="data.product.category" required>
			  <!-- <option ng-repeat="category in data.categories" value="{{category.id}}">{{category.name}}</option> -->
				<option value="Livre">Livre</option>
				<option value="DVD">DVD</option>
				<option value="Jeux Vid&eacuteos">Jeux Vid&eacuteos</option>
				<option value="Musique">Musique</option>
			</select>
			
			<div>
				<label for="activated">Activate:</label>
				<input type="checkbox" class="" id="activated"  x-ng-model="product.activated" x-ng-bind="product.activated">
			</div>
				
			
			<div ng-show="createProductForm.price.$invalid">
			Invalid:
			<span ng-show="createProductForm.price.$error">This is not a valid price.</span>
			</div>
		</div>
		

		<div class="col-md-6 col-middle">
			
		<div>
			<form method="POST" enctype="multipart/form-data" action="/">
				
				<label for="image">Image</label>
				
				  <input type='file' id="imgImport" class="btn" x-ng-model="data.product.image" x-ng-bind="data.product.image"/>
				  <img id="img" src="#" alt="votre image" class="img-thumbnail"  width="304" height="236"/>

			</form>
		</div>
	
	</div>

</div>

	
<div class="row" style="margin-top:20px">
	<div class="col-md-12 text-right " style="margin-bottom:15px"> 
		<button class="btn btn-primary " x-ng-click="createProduct()" x-ng-disabled="createProductForm.$invalid || isUnchanged(product)">Cr&eacuteer</button>
		<a href="#!" id="cancel" name="cancel" class="btn btn-default ">Annuler</a>
	</div>
</div>
		

</form>
