<meta charset="UTF-8">
<div class="productDetail">
	<div class="col-md-4">
		<img class="imageProduct" data-ng-src="app/images/{{product.image}}">
	</div>

	<div class=" col-md-8">
		<h1 class="text-center" >{{product.title}} <small>({{product.category}})</small></h1>
		<h2 class="text-center"> <strong>{{product.price | currency : '' : 2}} &euro; </strong></h2>
		
		<div x-ng-switch="rupture" >
			<div x-ng-switch-when="true">
				<p class="enRupture text-center"> Bient&ocirc;t en rupture</p>
			</div>
		</div>
		<div class="productDescription">
			<h3 >Description</h3>
			<p>{{product.description}}</p>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-4">
		<div class="row">
			<label class="col-md-1 quantityTitle">Quantit&eacute;</label>
			<form name="cartForm">
		      	<input name="nb" type="number" class="form-control col-md-2 productQuantityInput" x-ng-min="1" x-ng-model="quantity" x-ng-bind="quantity" value="1">
		    	<button class="btn btn-primary col-md-3" type="submit" x-ng-disabled="cartForm.nb.$invalid" x-ng-click="addToCart(product)">
		    		Ajouter au panier <span class="fa fa-shopping-basket"></span> 
		    	</button>
			</form>		    	
	    	<div class="col-md-offset-5"></div>
    	</div>
    </div>

	<ul class="pager col-md-8">
		<li class="previous">
			<a href="#!/" ><i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
		</li>
	</ul>
</div>