<div>
	<div class="pull-left">
		<img class="media-object cover" data-ng-src="https://i.pinimg.com/originals/28/aa/3d/28aa3d099a1a50885235e5e9cc4965d2.jpg">
	</div>
	<div class="media">
		<div class="media-right media-middle">
		</div>
		<div class="media-body">
			<h3 class="media-heading" >{{product.title}}<small>({{product.description}})</small></h3>
			<span>{{product.activated}}</span>
			<span>{{product.price}}</span>
			<span>{{product.category}}</span>
		</div>
	</div>
</div>

<div class="col-md-12">
	<ul class="pager">
		<li class="previous">
			<a href="#!/"><span aria-hidden="true">&larr;</span> Retour</a>
		</li>
	</ul>
</div>