
<div class="row">
	<div class="btn-group btn-group-justified">
		<label class="btn btn-primary">
			Livre <input type="checkbox" class="badgebox" x-ng-model="category1" x-ng-checked="true" x-ng-init='category1=true'>
			<span class="badge">&check;</span>
		</label>
		<label class="btn btn-primary">
			Jeux vid&eacute;o <input type="checkbox" class="badgebox" x-ng-model="category2" x-ng-checked="true" x-ng-init='category2=true'>
			<span class="badge">&check;</span>
		</label>
		
		<label  class="btn btn-primary">
			DVD <input  type="checkbox" class="badgebox"  x-ng-model="category3" x-ng-checked="true" x-ng-init='category3=true'>
			<span class="badge">&check;</span>
		</label>  
		
		<label  class="btn btn-primary">
			Musique <input  type="checkbox" class="badgebox"  x-ng-model="category4" x-ng-checked="true" x-ng-init='category4=true'>
			<span class="badge">&check;</span>
		</label> 
	</div>
	<div class="col-sm-12 list-products">
		<div class="col-md-4 " data-ng-repeat="product in ListProducts() | searchProduct : category1:category2:category3:category4">
			<a href="#!/product/{{product.id}}" class="nounderline">
				<span class="thumbnail">
					<h3 class="pull-left price" >{{product.price | currency : '' : 2}} &euro;</h3>
					<img data-ng-src="app/images/{{product.image}}" class=" cover">
					<div class="caption">
						<h4 class="text-center">{{product.title}}</h4>
					</div>
				</span>
			</a>
		</div>
	</div>
</div>