<div class="modal-header">
    <h5 class="modal-title align-baseline" ><i class="fa fa-question-circle fa-2x "> Suppression d'un produit </i></h5>
</div>
<div class="modal-body" id="modal-body">
	<span >&#202;tes-vous s&#251;r de vouloir supprimer le produit: "<Strong>{{item.title}}</Strong>" ?</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" x-ng-click="$close()">OK</button>
    <button class="btn btn-warning" type="button" x-ng-click="$dismiss()">Cancel</button>
</div>
