<meta charset="UTF-8">
<div class="container" style="display: table">
<h1>Vos commandes</h1>
<div class="row " style="overflow: hidden; display: table-row">

	<div class="col-md-offset-2 col-md-2 order" style="vertical-align:middle; display: table-cell">
	<h1>35.50€</h1>
	
	</div>

	<div class="col-md-4 order">
	<table class="table">
    
    <tbody>
      <tr>
        <td>N°Client</td>
        <td>789458454</td>
        </tr>
        <tr>
        <td>N°Commande</td>
        <td>987969869</td>
      </tr>
      <tr>
        <td>Nom</td>
        <td>Leila</td>
        </tr>
        <tr>
        <td>Prénom</td>
        <td>Organa</td>
      </tr>
      
    </tbody>
  </table>
	
	
	</div>

	<div class="col-md-2 order" style=" display: table-cell">
	pouet
	
	
	</div>
	
	<div class="col-md-offset-2  ">
	
	
	</div>

</div>

</div>