.cover {
	width: 100px;
	heigth: 100px;
}
.thumbnail:hover {
	border-color: blue;
	cursor: pointer;
}
.flyover:hover {
	cursor: pointer;
}
.thumbnail {
	heigth: 250px;
	width: auto;
}

.row {
	margin-top : 15px;
	margin-botton : 15px;
}

.col-centered {
	float: none;
	margin: auto;
}

.caption h3{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

fixed {
	position:fixed;
}