.content {
	padding-top: 90px;
}

.navbar-default {
  background-color: #e0e0eb;
  background-image: none;
  background-repeat: no-repeat;
 }
 
 .list-products {
 	margin-top: 30px;
 }

.cover {
	max-width: 120px;
	max-height: 120px;
}

.thumbnail:hover {
	border-color: steelblue;
	cursor: pointer;
}

a:

.thumbnail {
	heigth: 400px;
	width: auto;
}

.thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.price{
    position: absolute;
    margin: 0px;
    margin-left: -10px;
    background-color: steelblue;
    color: white;
    padding: 5px;
    border-radius: 0 10px 10px 0;
}

.row {
	margin-top : 15px;
	margin-botton : 15px;
}

.imageProduct{
	width: 100%;
	heigth: 100%;
}

.productDetail {
	margin-top: 50px;
}

.enRupture {
	background: #D1342F;
	color : white;
	margin: 0 200px 0 200px;
    padding: 10px 0 10px 0;
    font-size: 25px;
    border-radius: 10px;
}
.productQuantityInput {
	width: 66px;
	margin-right : 20px;
}

.quantityTitle {
	padding-left: 0px;
    margin: 8px 0 8px 0;
    width: 65px;
}

.productDescption {
	margin-top: 60px;
}

.col-centered {
	float: none;
	margin: auto;
}

.caption h3 {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*CSS for createProduct formular*/
createProductForm.input.ng-dirty.ng-invalid{
	color: red;
}

/* CSS Remove thumbnail link effect in list product page */
a.nounderline:link { 
	text-decoration:none; 
}

/* Pour le formulaire d'inscription et de connextion*/
.connection {
	margin-bottom: 30px;
}

fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}

span.req {
    color: maroon;
    font-size: 20px;
}

.errorMessage {
	color: #b30000;
}

.inputInvalidMessage {
	color : red;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox {
    opacity: 0;
}

.badgebox + .badge{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge {
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge {
    /* Move the check mark back when checked */
	text-indent: 0;
}

.order {
	background-color : #e0e0eb;
}

.img-thumbnail {
	height: 250px;
	widht: 300px;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 50px;
}

input#fichier.uploadImage {
	margin-left: 50px;
}

span.uploadImage {
	margin-left: 30px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.modal-body {
	font-size: 16px;
}
.orderPrice{
	vertical-align:middle;
	display:table-cell;
	text-align: center;
	font-size: 30px;
}

.orderNum{
	display:table-cell;
	text-align: center;
	font-size: 30px;
	color : #0099cc;
}

.cartVertCenter {
	vertical-align:middle;
}

.addpaddingTop {
	margin-top:20px;
}

.trash {
	color : #cc0000;	
}
